/.idea
/docker/db/
/docker/redis/

/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/0.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
