.hover-box {
    cursor: pointer;
    transition: .25s;

    &:hover {
        background: #7957d5;
        color: #e2e8f0;
        box-shadow: 0 0.25em 0.25em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }
}
